<style>
    .demo-mat-card {
        max-width: 400px;
    }

    .demo-mat-card-content {
        padding: 1rem;
    }

    .demo-mat-card-clean-margin {
        margin: 0px;
    }
</style>

<MatCard class="demo-mat-card">
    <MatCardContent>
        <MatCardMedia Wide="true" ImageUrl="@urlImg">
            <div class="demo-mat-card-content" style="color: white;">
                <MatHeadline6 class="demo-mat-card-clean-margin">
                    @Nombre
                </MatHeadline6>
                <MatSubtitle2 class="demo-mat-card-clean-margin">
                    $ @Precio
                </MatSubtitle2>
            </div>
        </MatCardMedia>
        <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
            @Descripcion
        </MatBody2>
    </MatCardContent>
    <MatCardActions>
        <MatCardActionIcons>
            <MatIconButton Icon="@MatIconNames.Visibility"></MatIconButton>
            <MatIconButton Icon="@MatIconNames.Add_shopping_cart"></MatIconButton>
            <MatIconButton Icon="@MatIconNames.Favorite"></MatIconButton>
            <MatIconButton Icon="@MatIconNames.Share"></MatIconButton>
        </MatCardActionIcons>
    </MatCardActions>
</MatCard>

@code {
    [Parameter]
    public string urlImg { get; set; }
    [Parameter]
    public string Precio { get; set; }
    [Parameter]
    public string Nombre { get; set; }
    [Parameter]
    public string Descripcion { get; set; }
}
